<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/assets/auth.jpg');"></div>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row justify-content-center">
                <div style="margin-top:10px" class="col-md-7">
                    <div class="mb-4">
                        <h3>Sign In</h3>
                        <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.
                        </p>
                    </div>
                    <form action="#" method="post">

                        <label for="username">Username</label>
                        <input type="email" class="form-control" id="username">

                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">



                        <div class="d-flex mb-5 align-items-center">
                            <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                        </div>

                        <input class="btn btn-primary btn-sm" type="button" value="Login">

                        <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>

                        <div class="social-login">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#magik" class="btn-info btn d-flex justify-content-center align-items-center">
                                <span class="icon-login mr-3"></span> Magic Link
                            </a>
                            <a href="#" class="facebook btn d-flex justify-content-center align-items-center">
                                <span class="icon-facebook mr-3"></span> Login with Facebook
                            </a>
                            <a href="#" class="twitter btn d-flex justify-content-center align-items-center">
                                <span class="icon-twitter mr-3"></span> Login with Twitter
                            </a>
                            <a href="#" class="google btn d-flex justify-content-center align-items-center">
                                <span class="icon-google mr-3"></span> Login with Google
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal fade" id="magik" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login via magicLink</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" [(ngModel)]="magic_mail" class="form-control" placeholder="name@example.com">
                </div>
            </div>
            <div class="modal-footer">
                <button id="divClick" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="signInWithMagicLink()" type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>